@use "../abstracts" as *;

.modal-place {
    position: fixed;
    top: calc(50% - (600px /2));
    left: calc(50% - (600px /2));
    .modal-holder {
        .modal-container {
            display: block;
            height: 600px;
            width: 600px;
            overflow-y: auto;
            background-color: $Primary-Color;
            border-radius: 12px;
            position: relative;
            box-shadow: 0px 0px 10px $Black;
            overflow-y: auto;
            overflow-x: hidden;
            .clickme {
                cursor: pointer;
                display: block;
                position: absolute;
                top: calc(50% - (95px /2));
                left: calc(50% - (212px /2));
                overflow-y: auto;
                border: none;
                border-radius: 5px;
                color: $Black;
                background-color: $Secondary-Color;
                padding: 40px;
                font-size: 30px;
                font-weight: bold;
                box-shadow: 0px 0px 10px $Black;
                &:hover {
                    background-color: darken($Secondary-Color, 25%);
                    color: darken($Black, 25%);
                }
            }
            .right {
                display: none;
                cursor: pointer;
                right: 0px;
                top: calc(50% - (20px /2));
                position: absolute;
            }
            .email-container {
                display: none;
                position: relative;
                top: calc(50% - (201px /2));
                text-align: center;
                h1 {
                    margin-top: 0px;
                }
                .myForm {
                    .email-input {
                        font-size: 20px;
                        padding: 20px 10px;
                        border-radius: 5px;
                        border: 2px solid $Secondary-Color;
                        width: 400px;
                        box-shadow: 0px 0px 10px $Black;
                        &:focus {
                            border: 2px solid $Secondary-Color;
                            outline: none;
                        }
                    }
                    .submitEmail {
                        cursor: pointer;
                        display: block;
                        padding: 20px 30px;
                        font-size: 20px;
                        background-color: $Secondary-Color;
                        border: none;
                        border-radius: 5px;
                        margin-top: 10px;
                        text-align: center;
                        position: relative;
                        left: calc(50% - (122px /2));
                        box-shadow: 0px 0px 10px $Black;
                        &:focus {
                            background-color: darken($Secondary-Color, 25%);
                            color: darken($Black, 25%);
                        }
                    }
                }
            }
            .image-selection {
                display: none;
                margin: 0px 20px;
                position: absolute;
                top: 0px;
                left: calc(50% - (268px /2));
                h1 {
                    text-align: center;
                }
                .profile-image-container {
                    display: flex;
                    flex-direction: column;
                    .profile-image {
                        display: none;
                        width: 300px;
                        height: 300px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 20px;
                        box-shadow: 0px 0px 10px $Black;
                    }
                    .refresh-image {
                        cursor: pointer;
                        display: block;
                        padding: 20px 30px;
                        font-size: 20px;
                        height: 80px;
                        background-color: $Secondary-Color;
                        border: none;
                        border-radius: 5px;
                        margin-top: 10px;
                        text-align: center;
                        position: relative;
                        box-shadow: 0px 0px 10px $Black;
                        &:hover{
                            background-color: darken($Secondary-Color, 25%);
                            color: darken($Black, 25%);
                        }
                    }
                }
                .submitImageBtn {
                    cursor: pointer;
                    display: none;
                    padding: 20px 30px;
                    font-size: 20px;
                    background-color: $Secondary-Color;
                    border: none;
                    border-radius: 5px;
                    margin-top: 10px;
                    text-align: center;
                    font-weight: bold;
                    position: relative;
                    left: calc(50% - (122px /2));
                    box-shadow: 0px 0px 10px $Black;
                    &:hover{
                        background-color: darken($Secondary-Color, 25%);
                        color: darken($Black, 25%);
                    }
                }
            }
            .arrayHolder {
                position: absolute;
                width: 600px;
                height: 600px;
                left: 600px;
                top: 0px;
                .left-arrow {
                    .left {
                        cursor: pointer;
                        position: absolute;
                        top: calc(50% - (20px /2));
                    }
                }
                h2 {
                    text-align: center;
                    margin: 0px;
                    text-decoration: underline;
                }
                .flexed-con {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h5 {
                        text-align: center;
                        margin-bottom: 0px;
                    }
                    img {
                        position: relative;
                        left: calc(50% - (340px /2));
                        width: 300px;
                        height: 300px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 20px;
                        box-shadow: 0px 0px 10px $Black;
                    }
                }
            }
        }
    }
}


// Javascript

.moveLeft {
    transform: translateX(-600px);
}
.shiftLeft {
    transform: translateX(-600px);
    right: -20px;
}
