//COLORS

    $BabyBlue: #89cff0;
    $Black: #000000;
    $lightRed: #F0AA89;
    $White: #ffffff;



//SITE COLORS
    $Primary-Color: $BabyBlue;
    $Secondary-Color: $lightRed;

    $Background-Color: $White;
